<div class="main-container">
    <header class="header header-2">
        <div class="branding ">
            <a routerLink="main" class="nav-link image">
                <clr-icon shape="video-gallery"></clr-icon>
                <span class="title">Movies</span>
            </a>
        </div>
        <div class="header-nav">
            <a class="active nav-link nav-text" (click)="browseButton()">Browse</a>
        </div>
        <div class="header-actions">
            <a *ngIf="this._userService.isLoggedIn === false" class="nav-link nav-text" routerLink="register">Sign Up</a>
            <clr-dropdown>
                <button *ngIf="this._userService.isLoggedIn === true" class="nav-text" clrDropdownTrigger aria-label="open user profile">
                    <clr-icon shape="user"></clr-icon>
                    <span>{{this._userService.firstName}}</span>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="..." clrDropdownItem>Preferences</a>
                    <a href="" clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>

    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav *ngIf="this.browseClicked == true" class="sidenav">
            <section class="sidenav-content">
                <a href="..." class="nav-link active">
                    Nav Element 1
                </a>
                <a href="..." class="nav-link">
                    Nav Element 2
                </a>
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">Collapsible Nav Element</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                    </ul>
                </section>
                <section class="nav-group">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">Default Nav Element</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                        <li><a class="nav-link">Link 3</a></li>
                        <li><a class="nav-link">Link 4</a></li>
                        <li><a class="nav-link">Link 5</a></li>
                        <li><a class="nav-link">Link 6</a></li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</div>