
<!-- Clarity design systems cards -->

<h1 class="title" *ngIf="_userService.isLoggedIn === true">**Login to search for your favorite movies**</h1>

<h1 class="title">{{_movieService.selectedGenre}}</h1>
<br>
<div class="cards">
    <div class="clr-row">
        <div class="clr-col-lg-3 clr-col-md-8 clr-col-10" *ngFor="let movie of _movieService.selectedMovies">
            <div class="card">
                <div class="card-block" >
                    <div class="card-img">
                       <img class="img" src="{{_movieService.imageUrl + movie.poster_path}}" alt="No image available">
                    </div>
                    <div class="title card-title cards">
                        <br>
                        <a title="{{movie.title}}">{{movie.title}}</a>
                    </div>
                    
                </div>
                <div *ngIf="_userService.isLoggedIn === true" class="card-footer">
                    <button class="btn btn-sm btn-link" (click)="favoriteButton(movie)"><clr-icon shape="star"></clr-icon> Favorite</button>
                </div>
            </div>
        </div>
    </div>
</div>
