<h1 class="title">Popular Movies</h1>
<br>
<!-- Clarity design systems cards -->
<div class="cards">
    <div class="clr-row">
        <div class="clr-col-lg-2 clr-col-md-8 clr-col-12" *ngFor="let item of popularMovies">
            <div class="card">
                <div class="card-block" >
                    <div class="card-img">
                       <img class="img" src="{{imageUrl + item.poster_path}}">
                    </div>
                    <div class="card-title cards">
                        <br>
                        <a title="{{item.title}}">{{item.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
